@using ICI.ProvaCandidato.Negocio.Models.Noticias.Tags
@model Tag

<form asp-action="Create">
    <div>
        <label for="descricao">Descrição:</label>
        <input type="text" id="descricao" name="descricao" />
    </div>
    <button type="submit">Salvar</button>
</form>