@using ICI.ProvaCandidato.Negocio.Models.Noticias
@model Noticiia

@{
    ViewBag.Title = "Criar Notícia";
}

<h2>Criar Nova Notícia</h2>

@using (Html.BeginForm("Create", "Noticia", FormMethod.Post))
{
    <div>
        @Html.LabelFor(model => model.Titulo)
        @Html.TextBoxFor(model => model.Titulo)
    </div>
    <div>
        @Html.LabelFor(model => model.Texto)
        @Html.TextAreaFor(model => model.Texto, new { rows = 4, cols = 40 })
    </div>
    <!-- Adicione mais campos conforme necessário -->
    <div>
        <input type="submit" value="Salvar" />
    </div>
}