<!DOCTYPE html>
<html>
<head>
    <title>Página Inicial</title>
</head>
<body>
    <h1>Bem-vindo ICI - Prova da Candidata Jessica Pimentel!</h1>
    <p>Esta é a página inicial do meu teste. Aqui você pode encontrar os links abaixo para acessar Noticias e Tags.</p>
    <div>
        <h3>Recursos Para Avaliação:</h3>
        <ul>
            <li><a asp-controller="Noticia" asp-action="Index">Ver todas as Notícias</a></li>
            <li><a asp-controller="Tag" asp-action="Index">Ver todas as Tags</a></li>
        </ul>
    </div>
    <p><a href="https://www.linkedin.com/in/jessica-pimentel96/" target="_blank"> Saiba mais sobre Jessica Pimentel</a></p>
</body>
</html>